@import "tailwindcss";

@theme {
  --color-primary: #1e3a8a;

  --color-background: #000000;
  --color-card: #0f0f0f;
  --color-surface: #181818;

  --color-border: #262626;

  --color-text: #e5e5e5;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow: none;
  scrollbar-width: none;
}
